<p>Hi {{.Name}},</p>
<p>To log in to dokedu drive please use the one time link below:</p>
<p><a href="{{.Link}}">Log in</a></p>
<p>If you didn't request this, please ignore this email.</p>
<p>Regards,<br />Dokedu Team</p>